{% extends 'tienda/base.html' %}
{% load static %}

{%block tituloPagina%}
Sobre mi
{%endblock%}

{% block ContenidoPagina %}

<!-- ======= Section ======= -->
<section id="team" class="team section-bg">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <h1 class="section-title">¡Uy! No pudimos encontrar la página</h1>
        <a href="{%url 'inicio'%}"><button class="btn btn-success">Volver al home</button></a>
    </div>

  </section><!-- End Section -->
  {%endblock%}