{% extends 'tienda/base.html' %}
{% load static %}

{%block tituloPagina%}
Buscar Pantalon
{%endblock%}

{% block ContenidoPagina %}
<h2 class="section-title">Buscar Pantalon por modelo </h2>
<div class="container d-flex justify-content-center mb-5">
    <p><form action='' method='POST'>{% csrf_token %}

        <input type='text' name="modelo" id="" min="0">

        <input type='submit' value='Buscar' class='btn btn-success'>
        <a href="{% url 'pantalones' %}" class="btn btn-secondary">Volver a Pantalones</a>
    </form></p>
</div>
<div class="container">
    <h2 class="section-title">Resultados</h2>
        <div class="row row-cols-4 pb-4 justify-content-center">
            {% for resultado in modelos %}
                <div class="card col" style="width: 18rem;">
                <img src=
                {%if resultado.imagen%}
                "{%get_media_prefix%}{{resultado.imagen}}"
                {%else%}
                "{%static 'tienda/assets/img/products/pantalon.webp'%}"
                {%endif%}
                class="card-img-top" alt="pantalon">
                    <div class="card-body">
                    <h5 class="card-title text-capitalize">Pantalon {{resultado.modelo}}</h5>
                    <p class="card-text">Talle: {{resultado.get_talle_display}}</p>
                    <p class="card-text text-capitalize">Color: {{resultado.color}}</p>
                    <p class="card-text">Precio $: {{resultado.precio}}</p>
                    <a href="{% url 'pantalon_detail' resultado.id %}" class='btn btn-success'>Ver Pantalón</a>
    
                </div>
                </div>
            {% endfor %}
        </div>

</div>


{% endblock%}