{% extends 'tienda/base.html' %}
{% load static %}

{%block tituloPagina%}
Buscar Remeras
{%endblock%}

{% block ContenidoPagina %}
<h2 class="section-title">Buscar Remera por modelo </h2>
<div class="container d-flex justify-content-center mb-5">
    <p><form action='' method='POST'>{% csrf_token %}

        <input type='text' name="modelo" id="" min="0">

        <button type='submit' class='btn btn-success'><i class="bi bi-search"></i> Buscar</button>
        <a href="{% url 'remeras' %}" class="btn btn-secondary">Volver a Remeras</a>
    </form></p>
</div>
<div class="container">
    <h2 class="section-title">Resultados</h2>
        <div class="row row-cols-4 pb-4 justify-content-center">
            {% for resultado in modelos %}
                <div class="card col m-1" style="width: 18rem;">
                    <img src=
                    {%if resultado.imagen%}
                    "{%get_media_prefix%}{{resultado.imagen}}"
                    {%else%}
                    "{%static 'tienda/assets/img/products/remera.jpg'%}"
                    {%endif%}
                    class="card-img-top" alt="remera">
                    <div class="card-body">
                    <h5 class="card-title text-capitalize">Remera {{resultado.modelo}}</h5>
                    <p class="card-text">Talle: {{resultado.get_talle_display}}</p>
                    <p class="card-text">Color: {{resultado.color}}</p>
                    <p class="card-text text-capitalize">Precio $: {{resultado.precio}}</p>
                    <a href="{% url 'remera_detail' resultado.id %}" class='btn btn-success'>Ver Remera</a>
                    </div>
                </div>
            {% endfor %}
        </div>

</div>


{% endblock%}