{% extends 'tienda/base.html' %}
{% load static %}

{%block tituloPagina%}
Pantalones
{%endblock%}

{% block ContenidoPagina %}

<div class="container">
    <h1 class="section-title">Pantalones</h1>
    <div class="d-flex justify-content-center my-4">
        <a href="{%url 'buscar-pantalon'%}"><button class="btn btn-success"><i class="bi bi-search"></i> Buscar por modelo</button></a>
    </div>
    <div class="row row-cols-4 pb-4 justify-content-center">
        {% for pantalon in pantalones %}
            <div class="card col m-1" style="width: 18rem;">
                <img src=
                {%if pantalon.imagen%}
                "{%get_media_prefix%}{{pantalon.imagen}}"
                {%else%}
                "{%static 'tienda/assets/img/products/pantalon.webp'%}"
                {%endif%}
                class="card-img-top" alt="pantalon">
                <div class="card-body">
                <h5 class="card-title text-capitalize">Pantalon {{pantalon.modelo}}</h5>
                <p class="card-text mb-0"><strong>Talle:</strong>  {{pantalon.get_talle_display}}</p>
                <p class="card-text mb-0 text-capitalize"><strong>Color:</strong> {{pantalon.color}}</p>
                <p class="card-text"><strong>Precio:</strong> ${{pantalon.precio}}</p>
                <a href="{% url 'pantalon_detail' pantalon.id %}" class='btn btn-success'><i class="bi bi-eye-fill"></i> Ver Pantalon</a>    
            </div>
            </div>
        {% endfor %}
    </div>
</div>






{% endblock%}